body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    margin: 20px 0;
    text-align: center;
}

h2 {
    font-size: 32px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.form-element {
    margin-bottom: 20px;
}

.form-element:last-child {
    margin-bottom: 0;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="clear"] {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

button[type="clear"]:hover,
input[type="submit"]:hover {
    background-color: #333;
}

.float-right {
    float: right;
}

.outline {
    background-color: transparent;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

.outline:hover {
    background-color: #4CAF50;
    color: #fff;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.error-container h1 {
    font-size: 24px;
    color: #f44336;
    text-align: center;
}

.error-container p {
    margin: 0;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.error_text p {
    font-size: 16px;
    color: #f44336;
}