@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}
/* set width so that picture cover the width of page*/
img{
    width: 100%;
    z-index: 10;
}

/* set position for text */
section p{
    line-height: 1.8em;
    padding: 100px;
    text-align: center;
}

/* set size,weight,position and center header*/
header h1{
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:serif;
}    
footer{
    text-align: center;
}
/*The same as homepage-style.css*/
.navbar{
    max-width: 80%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    padding: 14px 20px;
    margin: auto;
    z-index: 999;
}

.menu-icon{
    width: 50px;
    height: 50px;
    background: #2c3a47;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 15;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.menu-icon:hover{
    opacity: 0.9;
    transform: scale(1.1);  
    z-index: 15;
}

.navigation-menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1B1B1B;
    top: 0;
    right: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    
}

.navigation-menu nav{
    display: grid;
    
}
.navigation-menu li{
    margin: 20px 0;
    overflow: hidden; 
    
}

.navigation-menu a{
    color: white;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navigation-menu ul li a:hover{
    color: brown;
    z-index: 15;
}
.menu-icon.active{
    background-color: #f1f1f1;
    color: #2c3a47; 
    z-index: 15;
}
.navigation-menu.active{
    right: 0;
    z-index: 15;
}

@media screen and (max-width:640px){
    /*The same as homepage-style.css*/
    .navigation-menu{
    position: fixed;
    width: 100%;
    height: 150vh;
    background: #1B1B1B;
    top: 0;
    right: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    z-index: 12;
}
    /*Reset size and spacing for header in mobile version*/
    header h1{
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:serif;
}    
}
